{% extends 'index.html '%}
{% block content %}
<p>This is your signin page.</p>
<br><p>You have to login to got to blog look page.</p>
<h1>Sign In Page.</h1>
<form class="site-form" action="index.html" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Sign In">
</form>

<!-- SIGN IN WITH GOOGLE -->

  <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-success" role="button" >Login with Google</a><br>

 <!-- SIGN IN WITH GITHB -->
<p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'github' %}" class="btn btn-success" role="button">Login with GitHub</a><br>

{% endblock %}